@model RecipesMVC4.Models.Recipe

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Recipe</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
    <br />
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" class="btn btn-primary" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
